# Core functionality - changes here should be rare!
/src/app.py                   @samsantin
/src/backend/database.py      @samsantin
/src/backend/routers/auth.py  @samsantin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @samsantin
